*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
    UTILS 
*/

.big-container{
    max-width: 100%;
    /* border: 2px dashed black; */
    margin: 0 auto;
}

.mid-container{
    max-width: 1200px;
    /* border: 2px dashed black; */
    margin: 0 auto;
}

.sml-container{
    max-width: 1000px;
    /* border: 2px dashed black; */
    margin: 0 auto;
}

section{
    padding: 50px;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

h1{
    font-size: 4rem;
    padding: 20px;
    margin-bottom: 40px;
}

.bg-lightblue{
    background-color: #b4d0e7;
}

.button{
    background-color: #0061ff;
    padding: 0 17px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    display: inline-block;
}


.row{
    display: flex;
}

.color-gray{
    color: gray;
}

/* 
    FLEX CLASSES
 */

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}


.align-center{
    align-items: center;
}


.flex-column{
    flex-direction: column;
}

.self-start{
    align-self: flex-start;
}

/*
     HEADER
 */

.main-header {
    position: sticky;
    top: 0;
    background-color: white;
}


 .title-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 20px;
}


.menu-link {
    padding: 0 18px;
    white-space: nowrap;
}
 
 
 .menu-link.logo {
    padding-left: 0;
}




/*
FIRST SECTION 
*/

.jumbo-img{
    width: 800px;
}


.header-section{
    width: 1180px;
    margin: 0 auto;
       text-align: center;
       
}
    
    .main-header .row {
        padding: 28px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
}
    
    .left-col{
        text-align: start;
}
    
    
/* 
    SECOND SECTION
 */

.cards-section{
    display: flex;
    gap: 20px;
}

.fatturation-choice{
    padding: 30px 0;
}

.fatturation-type{
    display: inline;
}

.card{
    border: 1px solid gray;
    max-width: calc(100% / 3);
}

.card-btn{
    width: 80%;
    padding: 5px auto;
    text-align: center;
}