*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
    UTILS 
*/

.big-container{
    width: 100vw;
    border: 2px dashed black;
}

.mid-container{
    width: 1180px;
    border: 2px dashed black;
}

.sml-container{
    width: 900px;
    border: 2px dashed black;
}

ul{
    list-style: none;
}

.bg-lightblue{
    background-color: aqua;
}

/* 
    FLEX CLASSES
 */

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

/*
     NAVBAR
 */

 .title-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
 }