:root{
    --blue: #0061ff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

/* 
    UTILS 
*/

.big-container{
    max-width: 100%;
    /* border: 2px dashed black; */
    margin: 0 auto;
}

.mid-container{
    max-width: 1200px;
    /* border: 2px dashed black; */
    margin: 0 auto;
}

.sml-container{
    max-width: 1000px;
    
    margin: 0 auto;
}

section{
    padding: 50px;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

h1{
    font-size: 4rem;
    padding: 20px;
    margin-bottom: 40px;
}

.bg-lightblue{
    background-color: #b4d0e7;
}

.padding-bottom{
    padding-bottom: 30px;
}

/* .button{
    background-color: #0061ff;
    padding: 0 17px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    display: inline-block;
}
 */

.button {
    line-height: 44px;
    font-size: 18px;
    padding: 0 17px;
    text-align: center;
    display: inline-block;
}

.button-blue {
    background-color: var(--blue);
    border-color: var(--blue);
    color: white;
}

.button-grey{
    border-left: 1px solid black ;
    border-bottom: 1px solid black;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
}

.row{
    display: flex;
}

.color-gray{
    color: gray;
}

.text-center{
    text-align: center;
}

.col-60{
    width: 60%;
}

.col-50{
    width: 50%;
}

.col-40{
    width: 40%;
}

.col-30{
    width: 30%;
}

/* 
    FLEX CLASSES
 */

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}


.align-center{
    align-items: center;
}


.flex-column{
    flex-direction: column;
}

.self-start{
    align-self: flex-start;
}

.wrap{
    flex-wrap: wrap;
}

/*
     HEADER
 */

.main-header {
    position: sticky;
    top: 0;
    background-color: white;
}


 .title-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 20px;
}


.menu-link {
    padding: 0 18px;
    white-space: nowrap;
}
 
 
 .menu-link.logo {
    padding-left: 0;
}




/*
FIRST SECTION 
*/

.jumbo-img{
    width: 800px;
}


.header-section{
    width: 1180px;
    margin: 0 auto;
       text-align: center;
       
}
    
    .main-header .row {
        padding: 28px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
}
    
    .left-col{
        text-align: start;
}
    
    
/* 
    SECOND SECTION
 */

.cards-section{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    }


.fatturation-choice{
    padding: 30px 0;
}

.fatturation-type{
    display: inline;
}

.card{
    border: 1px solid gray;
    flex-grow: 1;
    flex-basis: 0;
   /*  max-width: calc(100% / 3);
    padding: 15px;
 */
}

.card-icon{
    text-align: center;
    border-bottom: 1px solid gray;
}


.card-bottom {
    width: 100%;
    border: 1px solid gray;
}

.card-btn{
    width: 80%;
    padding: 5px auto;
    text-align: center;
}

.card ul{
    padding-top: 30px;
}


.card-body{
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}


.plan-title {
    font-size: 24px;
}

.card-bottom .flex{
    align-items: center;
    justify-content: space-between;
}

/* THIRD SECTION */

.partner-text{
    padding: 20px;
    text-align: left;

    width: 40%;
}


.buisness-card{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: left;
    padding: 20px;
}